.table-row {
    height: 2.5rem;
    display: flex;
    align-items: center;
}

.table-row:nth-child(3n) {
    background-color: #666;
}

.table-row:nth-child(3n + 1) {
    background-color: #444;
}

.table-row:nth-child(3n + 2) {
    background-color: #222;
}

.cell-code {
    width: 12rem;
}

.cell-group {
    width: 10rem;
}

.scroll-container {
    overflow-y: hidden;
    width: 100%;
}