@font-face {
    font-family: 'Audiowide';
    src: url(./assets/fonts/Audiowide-Regular.ttf);
}

@font-face {
    font-family: 'Bolonat-Hand';
    src: url(./assets/fonts/BOLONAT-HAND.otf);
}

@font-face {
    font-family: 'Exo2';
    src: url(./assets/fonts/Exo2/Exo2-Thin.ttf);
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Exo2';
    src: url(./assets/fonts/Exo2/Exo2-ThinItalic.ttf);
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: 'Exo2';
    src: url(./assets/fonts/Exo2/Exo2-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Exo2';
    src: url(./assets/fonts/Exo2/Exo2-Italic.ttf);
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'Exo2';
    src: url(./assets/fonts/Exo2/Exo2-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Exo2';
    src: url(./assets/fonts/Exo2/Exo2-BoldItalic.ttf);
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: 'Exo2';
    src: url(./assets/fonts/Exo2/Exo2-Black.ttf);
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: 'Exo2';
    src: url(./assets/fonts/Exo2/Exo2-BlackItalic.ttf);
    font-style: italic;
    font-weight: 900;
}

@font-face {
    font-family: 'Metronic';
    src: url(./assets/fonts/MetronicPro-SemiBold.woff2);
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'PirataOne';
    src: url(./assets/fonts/PirataOne-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}
